.card_img {
    border-radius: 12px;
    margin-bottom: 8px;
    width: 140px;
    height: 200px;
  }

  @media (max-width: 1024px) {
    .card_img {
      width: 150px;
      height: 201px;
    }
   }