.select_container {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.select_container_genre {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.formSelect {
    border-radius: 12px;
}

.inputSelect {
    background-color: transparent;
    border-radius: 12px;
    border: 1px solid  #586E94;
    width: 193px;
    margin-left: 8px
}

.inputSelectGenre {
    background-color: transparent;
    border-radius: 12px;
    border: 1px solid  #586E94;
    width: 121px;
    margin-left: 8px;
}

.menu_item {
    border-bottom: 1px solid #586E94;
}

.positionIcon {
    position: absolute;
    right: 11px
}


@media (max-width: 740px) {
    .select_container,
    .select_container_genre {
    margin: 0  9px 20px 0;
    }
  }