.boxContainer {
    width: 100%;
    background: #0D1D38;
}

.gridImage {
    position: relative;
    padding: 32px 92px;
}

.gridImage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/images/background.png);
    background-size: cover;
    filter: grayscale(100%);
}

.gridTitle {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.logo {
    width: 220px; height:36px;
}

.gridFilter {
    display: flex;
    padding-top: 42px;
}

.gridTitleFilter {
    padding: 70px 0 42px;
}

.gridTopRated {
    padding-top: 72px;
}

@media (max-width: 740px) {
    .gridTitle {
        padding: 23px 30px;
        flex-direction: column;
    }
    .logo {
        width: 182px; height:30px;
        margin-bottom:20px ;
    }
    .gridImage {
        padding: 0
    }
    .gridFilter {
        flex-direction: column;
        padding: 22px 0 0;
    }
    .gridTitleFilter {
        padding: 30px 30px 0;
    }
    .gridImage::before {
        height: 50%
    }
    .gridTopRated {
        padding: 30px 0;
    } 
    .gridTitleTop {
        padding: 0 30px
    }
   }

