.embla {
    overflow: hidden;
    width: 100%;
}
.embla__container {
    display: flex;
    width: 100%;
  }
.embla__slide {
    display: flex;
    justify-content: center;
    position: relative;
    flex: 0 0 25%;
}

.container {
    display: flex;
    width: 100%;
    padding: 42px 0;
    border-bottom: 1px solid #2F3D57;
  }

.embla__button__prev:hover{
  margin-right: 42px;
  width: 60px;
  height: 60px;
  background-color: #253755;
}

.embla__button__prev{
  margin-right: 42px;
  width: 60px;
  height: 60px;
  background-color: #253755;
}

.embla__button__next{
  margin-left: 42px;
  width: 60px;
  height: 60px;
  background-color: #253755;
}

.embla__button__next:hover{
  margin-left: 42px;
  width: 60px;
  height: 60px;
  background-color: #253755;
}

.button_container {
  display: flex;
  align-items: center;
}



@media (max-width: 740px) {
  .embla__slide {
    flex: 0 0 30%
  }

  .img {
    border-radius: 12px;
    margin-bottom: 8px;
    width: 86px;
    height: 124px
  }
}

